# common
*.log
logs
*/logs
.DS_Store
*/.DS_Store
# ------------------------
# docker-compose
#   mysql
#     db
#   redis
#     db
db
# ------------------------
# docker-file
# ------------------------
# k8s

